@import '../../scss/base.scss';

.ForgotMainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
        margin-top: 1.5rem;
    }
    @include smallmobile{
        margin-top: 1rem;
    }
    .registerData {
        font-size: 0.9em;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        button{
            background-color: transparent;
        }
        .span {
            color: $color-primary;
            margin-left: 5px;
        }
    }
    .errorData{
        width: 100%;
        margin-left: 10px;
        margin-top: 8px;
        @include fontRegular(1rem, 1.25rem, $color-primary);
        @include midmobile{
            margin-left: 20px;
        }
        @include smallmobile{
            margin-left: 10px;
        }
    }

    h3 {
        display: flex;
        justify-content: center;
        font-weight: 700 !important;
        font-family: $satoshi-regular !important;
        margin-top: 1rem;
        font-size: 1.8rem;
        @include mobile{
            font-size: 1.5rem;
        margin-top: 0;
        padding: 0;
        }
        @include midmobile {
            // margin: 20px;
            font-size: 1.2rem;
        }
    }
    .InputField {
        width: 100%;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        color: $bg-color;

        @include mobile{
            padding: 0 3rem ;
            max-width: 450px;
        }
        @include smallmobile {
            padding: 0px 15px;
        }
        input{
            margin-top: 10px;
            
        }
    }
 .error {
     color: $color-primary;
 }
 .btnField {
    width: 100%;
    max-width: 250px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 5px solid green;
    @include midmobile{
        padding:0 10px;
    }
    @include smallmobile{
        padding: 0 2rem;
    }

    button {
        width: 70%;
        height: 50px;
        background: $color-primary;
        @include fontBold(1rem, 2rem, $white-color);
        @include midmobile{
            // padding: 20px;
        }
        @include smallmobile{
            height: 40px;
        }
    }
}
}