@import '../../scss/base.scss';

.resetPassContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: $bg-color;
    @include mobile{
        margin-top: 0;
    }

    .errorData {
        width: 100%;
        margin-left: 10px;
        margin-top: 8px;
        @include fontRegular(1rem, 1.25rem, $color-primary);
        @include midmobile{
            margin-left: 40px;
        }
        @include smallmobile{
            margin-left: 25px !important;
        }
      }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        display: flex;
        justify-content: center;
        font-weight: 700 !important;
        font-family: $satoshi-regular !important;
        margin-top: 1rem;
        font-size: 2rem;
        @include mobile{
            font-size: 1.5rem;
        margin-top: 0;
        padding: 0;
        }
        @include midmobile {
            // margin: 20px;
            font-size: 1.2rem;
        }
    }
    .InputField {
        width: 100%;
        display: flex;
        max-width: 350px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        color: $bg-color;

        @include mobile{
            padding: 0 3rem ;
            max-width: 450px;
        }
        @include smallmobile {
            padding: 0px 5px;
        }
        input{
            margin-top: 10px;
            
        }
    }
 .error {
     color: $color-primary;
 }
    .btnField {
        width: 100%;
        max-width: 250px;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 5px solid green;
        @include midmobile{
            padding:0 10px;
        }
        @include smallmobile{
            padding: 0 2rem;
        }

        button {
            width: 70%;
            height: 50px;
            background: $color-primary;
            @include fontBold(1rem, 2rem, $white-color);
            @include midmobile{
                // padding: 20px;
            }
        }
    }
    .passwordContainer {
        display: flex;
        width: 100%;
        position: relative;
    
        .error {
            position: relative;
            top: 0.25rem;
            @include fontRegular(1rem, 1.25rem, $color-primary);
        }
    
        @include mobile {
            width: 100%;
        }
    
        @include midmobile {
            width: 100%;
            padding: 0 10px;
        }
    
        @include smallmobile {
            width: 100%;
            padding: 0 5px;
            // padding: 0 30px;
        }
    
        input {
            width: 100%;
            padding-right: 40px !important;
            padding: 10px;
            outline: none;
            @include fontRegular(1.25rem, 1.5rem, $bg-color);
    
            @include mobile {
                font-size: 1rem;
                line-height: normal;
            }
            @include midmobile{
                padding-right: 30px !important;
            }
            @include smallmobile{
                padding-right: 40px !important;
            }
        }
    }
}